@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Chakra Petch";
    font-weight: 300;
    font-style: normal;
    src: url(/fonts/chakra-petch-light.woff2) format("woff2");
}

@font-face {
    font-family: "Chakra Petch";
    font-weight: 400;
    font-style: normal;
    src: url(/fonts/chakra-petch-regular.woff2) format("woff2");
}

@font-face {
    font-family: "Chakra Petch";
    font-weight: 500;
    font-style: normal;
    src: url(/fonts/chakra-petch-medium.woff2) format("woff2");
}
